@import 'mixins/mixin'; // Fonts
// Import files
@import 'variables/variables';
@import 'core/fonts';
@import "../fonts/icomoon/style.css";
@import 'core/reset';
@import 'core/template';

@import 'core/header';
@import 'core/navbar';

@import 'vendor/swiper';

@import 'core/firstScreen';
@import 'core/advantage';
@import 'core/comments';
@import 'core/business';

@import 'core/cases';
@import 'tabs/logos';
@import 'tabs/trademarks';
@import 'tabs/tabServices';

@import 'core/services';
@import 'core/presentation';

@import 'core/footer';

@import 'core/form';

@import 'core/breadcrumb';

@import 'core/pagination';

@import 'core/buttons';

@import 'core/video';
@import 'core/collapse';
@import 'core/tabs';
@import 'core/drop';
@import 'core/programsInfo';

@import 'vendor/modal';
// @import 'vendor/slick';
// @import 'vendor/swiper';

.counter-wrap {
    counter-reset: line var(--line-num, 0);
}

.counter-item {
    counter-increment: line;

    .counter-el {
        &:before {
            content: '0';

        }

        &:after {
            content: counter(line) ' ';
        }

    }
}
