.individual {

    @media (min-width: 768px) {
        .section__title {
            line-height: 1.25;
            margin-bottom: 2em;
        }

        .section__subtitle {
            line-height: 1.5;

        }

        .form_gridCol {
            width: 46.875em;

            textarea {
                min-height: 16.858em;
            }
        }

    }

    &_full {

        @media (min-width: 768px) {
            .individual__form {
                width: 100%;
            }

            .individual__lider {
                right: 29.5em;

            }

            .btn {
                padding-left: 4em;
                padding-right: 3em;
            }

        }

    }

    &__bg {
        @media (max-width: 767px) {
            background-image: none!important;
        }
        background: #F9FAFD;

        @media (min-width: 768px) {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        padding: 2em 1em 0;

        @media (min-width: 768px) {
            padding: 6.25em;

        }
    }

    &__caption {
        text-align: center;
        @media (min-width: 768px) {
            text-align: inherit;
        }
    }

    &__form {
        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 3em;
            width: 25em;

        }
    }

    &__lider {
        position: absolute;
        bottom: 17em;
        left: 1em;
        width: 3.5em;
        @media (min-width: 768px) {
            bottom: auto;
            left: auto;
            top: 24em;
            right: 40em;
            width: 9.875em;

            .lider__info,
            .lider__name {
                text-align: right;
            }

            .lider__icon {
                margin-left: auto;
            }

            .lider__name {
                margin-bottom: 1.625em;
            }
        }

    }

    &__person {
        position: relative;
        bottom: 0;
        right: 2.5em;
        width: 18.75em;
        height: 27.6875em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    &__part {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 17.25em;
        height: 8.5em;
        background-image: url("../img/individual_part.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}
