.location {
    position: relative;
    overflow: hidden;

    @media (max-width: 767px) {
        padding-bottom: 23em;
    }

    @media (min-width: 768px) {
        padding: 0;
        height: 53.25em;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) -22.39%, #FFFFFF 300%);
        }
    }

    .section__title {
        text-align: center;
        @media (min-width: 768px) {
            text-align: inherit;
            line-height: 1.32;
            margin-bottom: 2em;
        }
    }

    .section__subtitle {
        text-align: center;
        @media (min-width: 768px) {
            line-height: 1.5;
            text-align: inherit;
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        @media (min-width: 768px) {
            padding-top: 9.125em;
            width: 31em;
        }
    }

    &__map {
        background-image: url("../img/map_bg.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        right: -1em;
        bottom: 0;
        width: 37em;
        height: 30em;

        @media (min-width: 768px) {
            background-size: auto;
            position: absolute;
            right: -10em;
            bottom: -17em;
            width: 128.25em;
            height: 96.125em;

        }

    }
}
