.offer {
    .section__subtitle,
    .section__title {
        text-align: center;
        @media (min-width: 768px) {
            text-align: inherit;
            width: 42em;

        }
    }

    &__bg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2em 1em;
        @media (min-width: 768px) {
            padding: 6.25em;

        }
    }

    &__content {
        margin-top: 1.5em;

        @media (min-width: 768px) {
            margin-top: 2.5em;

            display: flex;
            gap: 3.125em;
        }
    }

    &__form {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 25.9375em;

            input[type=tel] {
                padding: 2.195em 4.5em;
            }
        }
    }

    &__label {
        letter-spacing: 0.02em;
        text-align: center;
        line-height: 0.9;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            line-height: 1.5;
            width: 18.75em;
            margin: 0 auto 1.975em;

        }

        span {
            font-size: 0.625em;

            @media (min-width: 768px) {
                font-size: 1.25em;

            }
        }
    }

}
