.offer {
    .section__subtitle,
    .section__title {
        text-align: center;
        @media (min-width: 768px) {
            text-align: inherit;
            width: 42em;

        }
    }

    &__bg {
        position: relative;
        overflow: hidden;
        background-image: url("../img/offer_bg.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0 1em;
        @media (min-width: 768px) {
            padding: 6.25em;

        }
    }

    &__content {
        margin-top: 1.5em;

        @media (min-width: 768px) {
            margin-top: 2.5em;

            display: flex;
            gap: 3.125em;
        }
    }

    &__form {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 25.9375em;

            input[type=tel] {
                padding: 2.195em 4.5em;
            }
        }
    }

    &__label {
        letter-spacing: 0.02em;
        text-align: center;
        line-height: 0.9;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            line-height: 1.5;
            width: 18.75em;
            margin: 0 auto 1.975em;

        }

        span {
            font-size: 0.625em;

            @media (min-width: 768px) {
                font-size: 1.25em;

            }
        }
    }

    &__part {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media (min-width: 768px) {
            position: absolute;

        }
    }

    &__part_top {
        background-image: url("../img/offer_part_top.webp");
        top: 0;
        right: 0;
        width: 17.25em;
        height: 10.4375em;

        @media (min-width: 768px) {
            width: 33.125em;
            height: 20em;
        }
    }

    &__part_bottom {
        background-image: url("../img/offer_part_bottom.webp");
        bottom: 0;
        right: 0;
        width: 17.25em;
        height: 11.5em;
        margin-top: 1em;

        @media (min-width: 768px) {
            right: -1em;
            width: 39.375em;
            height: 26.25em;
            margin-top: 0;
        }

    }

}
