.tariffs {
    .section__subtitle,
    .section__title {
        text-align: center;
        @media (min-width: 768px) {
            margin-bottom: 2em;

        }
    }

    &__content {
        @media (min-width: 768px) {
            position: relative;
        }

    }

    &__list {}

    &__item {
        border: 1px solid #E6EBEE;
        background-color: $color_white;
        padding: 1.5em 1em;
        @media (min-width: 768px) {
            padding: 4em 1.5em;
            width: 23.125em;

        }
        text-align: center;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            padding-left: 1em;
            margin-bottom: 1em;
            letter-spacing: 0.02em;
            text-align: left;
            @media (min-width: 768px) {
                padding-left: 1.3125em;
                margin-bottom: 2em;

            }
        }

        li {
            position: relative;
            line-height: 0.9;
            margin-bottom: 0.5em;

            @media (min-width: 768px) {
                line-height: 1.7;
                margin-bottom: 1em;

            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '\e91d';
                font-family: 'icomoon';
                position: absolute;
                top: 1em;
                left: -2.5em;
                font-size: 0.375em;
                color: $color_success;

                @media (min-width: 768px) {
                    top: 0.6em;
                    font-size: 0.5em;

                }

            }
        }

        span {
            font-size: 0.625em;
            font-weight: 300;
            @media (min-width: 768px) {
                font-size: 1em;
            }
        }

        &.popular {
            position: relative;

            &:after {
                content: 'Популярный тариф';
                position: absolute;
                top: -1px;
                left: -1px;
                right: -1px;
                height: 3.125em;
                /* 50/16 */

                display: flex;
                align-items: center;
                justify-content: center;

                background-color: $color_info;
                color: $color_white;
                letter-spacing: 0.02em;
                font-size: 1em;

            }
        }
    }

    &__title {
        margin-bottom: 0.5em;
        @media (min-width: 768px) {
            margin-bottom: 1em;

        }

        span {
            font-size: 1.25em;
            font-weight: 700;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }
        }
    }

    &__subtitle {
        letter-spacing: 0.02em;
        margin-bottom: 0.5em;
        @media (min-width: 768px) {
            line-height: 1.688;
            margin-bottom: 1em;
            height: 3.375em;
        }

        span {
            font-size: 0.875em;
            font-weight: 700;
            color: $color_black;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__price {
        margin-bottom: 0.5em;
        @media (min-width: 768px) {
            margin-bottom: 1em;

        }

        span {
            font-size: 1.25em;
            font-weight: 700;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }
        }
    }

    &__info {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 2em;

        }

        span {
            font-size: 0.75em;
            font-weight: 300;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__important {
        position: relative;
        letter-spacing: 0.02em;
        padding-left: 1.5em;
        margin-top: 1em;
        line-height: 0.8;

        @media (min-width: 768px) {
            margin-top: 0;
            padding-left: 2em;
            width: 37.5em;
            position: absolute;
            bottom: 0;
            left: 0;
            line-height: 1.7;

        }

        span {
            font-size: 0.625em;
            font-weight: 700;
            color: $color_black;

            @media (min-width: 768px) {
                font-size: 1em;
            }
        }

        &:after {
            content: '\e91d';
            font-family: 'icomoon';
            position: absolute;
            color: $color_success;
            top: 0.5em;
            left: 0;
            font-size: 0.625em;
            @media (min-width: 768px) {
                top: 0;
                left: 0;
                font-size: 1em;

            }
        }

    }

}
