.clip {
    position: fixed;
    bottom: 3em;
    left: 0.75em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
    letter-spacing: 0.03em;
    // background: rgba(255, 255, 255, 0.75);
    // box-shadow: 0 0 100px rgb(0 0 0 / 5%);
    // border-radius: 1em;

    z-index: 5;

    width: 6em;
    // height: 9em;
    padding: 0.45em;
    transition: left 0.3s;

    @media (min-width: 768px) {
        // padding: 1em;
        width: 12.5em;
        // height: 18.75em;
        bottom: 4em;
        left: 3em;
    }

    &.hide {
        left: -6.75em;
        @media (min-width: 768px) {
            left: -15.5em;

        }
    }

    span {
        font-size: 0.4em;
        font-weight: 500;

        @media (min-width: 768px) {
            font-size: 0.875em;

        }
    }

    &__label {
        margin-bottom: 0.5em;
        @media (max-width: 767px) {
            line-height: 0.5;
        }

        @media (min-width: 768px) {
            margin-bottom: 1.125em;

        }
    }

    &__bg {
        position: relative;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 9em;
        @media (min-width: 768px) {
            height: 18.75em;
        }
    }

    &__play {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        background-color: $color_warning;

        width: 3.375em;
        height: 3.375em;
        @media (min-width: 768px) {
            width: 3.5em;
            height: 3.5em;
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.3s;
            cursor: pointer;

            &:hover {
                transform: translate(-50%, -50%) scale(1.2);

            }
        }

        i {
            color: $color_white;
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%),scale(1);
            border: 0.25em solid $color_warning;
            @media (min-width: 768px) {
                border: 0.25em solid $color_warning;

            }

        }

        &:before {
            opacity: 0.35;
            animation: 1s pulsePlay1 infinite;
            width: 3.6em;
            height: 3.6em;
            @media (min-width: 768px) {
                width: 3.75em;
                height: 3.75em;
            }
        }

        &:after {
            opacity: 0.1;
            animation: 1s pulsePlay2 infinite;
            width: 4.125em;
            height: 4.125em;
            @media (min-width: 768px) {
                width: 4.25em;
                height: 4.25em;

            }
        }
    }

    &__toggle {
        color: $color_info;
        cursor: pointer;
        margin-top: 0.125em;
        @media (min-width: 768px) {
            margin-top: 1em;

        }

        &:before {
            content: '\e90b';
            font-family: 'icomoon';
            display: inline-block;
            transform: rotate(45deg);
            font-size: 0.4em;
            margin-right: 0.75em;

            @media (min-width: 768px) {
                font-size: 0.75em;

            }
        }
    }
}
