.faq {
    .section__title {
        text-align: center;
        margin-bottom: 2em;
        @media (min-width: 768px) {
            margin-bottom: 1.625em;

        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__col {
        &:last-child {
            .collapse {
                &:last-child {
                    border: none;
                }
            }
        }

        @media (min-width: 768px) {
            width: 45.625em;
        }
    }
}

.collapse {
    border-bottom: 1px solid #F6F8FA;

    margin: 1em 0;

    @media (min-width: 768px) {

        margin: 2.5em 0;

        &:last-child {
            border: none;
        }
    }

    &__title {
        letter-spacing: 0.02em;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 1em;
        @media (min-width: 768px) {
            align-items: center;
            margin-bottom: 2.5em;

        }

        span {
            width: 21.5em;
            font-weight: 500;
            line-height: 1.4;
            cursor: pointer;
            font-size: 1em;
            @media (min-width: 768px) {
                font-size: 1.5em;
            }

        }

        &:after {
            content: '\e90b';
            font-family: 'icomoon';
            font-size: 1.15em;
            color: $color_info;
            transform: rotate(0deg);
            transition: 0.3s;
            cursor: pointer;

        }

        &.open {
            &:after {
                transform: rotate(135deg);
            }
        }
    }

    &__body {
        display: none;
        letter-spacing: 0.02em;
        margin-top: -0.5em;

        p {
            margin: 0 0 1.5em;
            line-height: 1.5;
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 1em;
            }
        }

        &.open {
            display: block;
        }
    }
}
