.header {
    .menu {
        margin: 0;
        padding: 0;
        list-style: none;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        > .menu-item {
            margin-bottom: 1.75em;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        &-item {
            padding-bottom: 0.5em;

            a {
                font-size: 0.9375em;
                color: $main_color;
                text-decoration: none;
                letter-spacing: 0.25em;
                text-transform: uppercase;

            }

            &:hover {
                > a {
                    color: $color_info;
                    text-shadow: 0 0 0.35px;

                }
            }

            &.info {
                a {
                    position: relative;

                    span {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: -4.5em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 0.533333em;
                        width: 3.75em;
                        height: 2.5em;
                        border-radius: 31.25em;
                        background-color: #F9FAFD;

                    }
                }

            }

            &.important {
                a {
                    color: $color_info;
                    text-shadow: 0 0 0.35px;
                }
            }

        }

        .menu-item-has-children {
            position: relative;

            a {
                position: relative;

                @media (max-width: 767px) {
                    &.open {
                        color: $color_info;
                    }
                }

                .icon-drop {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) scaleY(1);

                    display: inline-block;

                    transition: 0.2s;

                    font-size: 2em;
                    right: -1.25em;
                    padding-left: 0.25em;
                    padding-right: 0.25em;

                    @media (max-width: 767px) {
                        &.open {
                            transform: translateY(-50%) scaleY(-1);

                        }
                    }

                    @media (min-width: 768px) {
                        right: -1em;
                        font-size: 1.25em;
                        padding-left: 0;
                        padding-right: 0;
                    }

                }
            }

            @media (min-width: 768px) {
                &:hover {
                    > a {
                        .icon-drop {
                            transform: translateY(-50%) scaleY(-1);

                        }
                    }

                    > .sub-menu {
                        height: auto;
                        opacity: 1;
                        top: 100%;
                        visibility: visible;

                    }
                }
            }

            // start DROP 2
            .menu-item-has-children {
                // position: initial;
                a {
                    .icon-drop {
                        transform: translateY(-50%) rotate(0);

                        @media (max-width: 767px) {
                            &.open {
                                transform: translateY(-50%) scaleY(-1);

                            }
                        }

                    }
                }

                @media (min-width: 768px) {
                    .sub-menu {
                        position: absolute;
                        top: -0.375em;
                        left: 18.65em;

                        a {
                            padding-right: 1.85em;
                        }
                    }

                    &:hover {
                        a {
                            .icon-drop {
                                transform: translateY(-50%) rotate(-90deg);

                            }
                        }
                    }
                }

            }
            // end DROP 2

        }

    }

    .sub-menu {
        margin: 0;
        padding: 0;
        list-style: none;

        height: 0;
        opacity: 0;
        visibility: hidden;

        background: $color_white;

        z-index: 10;

        @media (min-width: 768px) {
            position: absolute;
            top: 130%;
            left: -1.5em;
            width: 18.75em;
            padding: 0.3125em 0 1.5625em;
            border: 1px solid #E6EBEE;
            transition: 0.3s;
        }

        a {
            letter-spacing: 0.05em;
            display: inline-block;
            font-size: 0.8125em;
            text-transform: inherit;

            @media (min-width: 768px) {
                padding-left: 1.85em;
                padding-top: 0.84612em;
                padding-bottom: 0.84612em;
                margin-bottom: 0;
            }
        }

        @media (max-width: 767px) {
            &.open {
                border-top: 1px solid #E6EBEE;
                border-bottom: 1px solid #E6EBEE;
                height: auto;
                opacity: 1;
                top: 100%;
                visibility: visible;
                padding: 1em;
                margin-top: 0.5em;
            }

        }

        .menu-item {
            padding-bottom: 0;
            cursor: pointer;
            margin-bottom: 1em;

            &:first-child {
                margin-top: 0.5em;
            }

            @media (min-width: 768px) {
                margin-bottom: 0;

                &:first-child {
                    margin-top: 0;
                }
            }

            &:hover {
                > a {
                    color: $color_warning;
                    text-shadow: 0 0 0.35px;
                }
            }

        }

    }

    .current-menu-item > a {
        color: $color_info;
        text-shadow: 0 0 0.35px;
    }

}
