.quiz {
    .section__subtitle,
    .section__title {
        text-align: center;
    }

    .section__title {
        @media (min-width: 768px) {
            margin-bottom: 2em;
        }
    }

    .section__subtitle {
        @media (min-width: 768px) {
            margin-bottom: 3em;
        }
    }

    position: relative;
    z-index: 2;

    // &-title {
    //     font-size: 2em;
    //     margin-bottom: 1em;
    //
    // }

    &-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-image: url("../img/quiz/quiz_bg.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        padding: 1em;
        @media (min-width: 768px) {
            padding: 3.125em 2.5em 4.375em 6.25em;
            min-height: 62.5em;

        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 768px) {
            width: 56.25em;
        }
    }

    &-right {
        @media (min-width: 768px) {
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 26.25em;
            text-align: center;
        }
    }

    &-footer {
        margin-top: 3.5em;

        @media (min-width: 768px) {
            margin-top: 4.5em;
            /* 72/16 */
            display: inline-flex;
            align-items: center;
            justify-content: space-between;

        }

        &__hint {
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            justify-content: center;
            margin-bottom: 1em;

            @media (min-width: 768px) {
                margin-bottom: 0;
                justify-content: flex-start;
            }
        }

        &__img {
            width: 1.25em;
            height: 1.3125em;
            margin-right: 0.5em;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        span {
            line-height: 1.274;
            display: inline-block;
            width: 14em;
            font-size: 0.6875em;

        }
    }
}

.quiz label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.quiz label.active~p {
    font-weight: 700;
}

.quiz label.active~.quiz-question__text-outer p {
    font-weight: 700;
}

.quiz label:hover .quiz-question__check {
    // border: 0.125em solid $color_warning;
    @media (min-width: 768px) {
        border: 0.25em solid $color_warning;

    }
}

.quiz label input {
    display: none;
}

.quiz label input:checked~.quiz-question__check {
    background-color: $color_warning;
    color: $color_white;
}

.quiz label input:checked~.quiz-question__check::after {
    background: $color_warning;
}

.quiz label input[type="radio"]~.quiz-question__check {
    border-radius: 50%;
}

// .quiz label input[type="radio"]~.quiz-question__check::after {
//     border-radius: 50%;
// }

.quiz label input[type="checkbox"]~.quiz-question__check {
    border-radius: 0.5em;
}

// .quiz label input[type="checkbox"]~.quiz-question__check::after {
//     border-radius: 5rem;
// }

.quiz-line {
    position: relative;
    width: 100%;
    padding: 0 0.25em;
    border-radius: 6.25em;
    background-color: $color_white;

    height: 1em;
    margin-bottom: 1em;

    @media (min-width: 768px) {
        height: 3em;
        margin-bottom: 3.5em;

    }

    &__bg {
        height: 100%;
        border-radius: 2rem;
        background: $color_warning url("../img/quiz/line.png") center left repeat;
        background-size: auto 100%;
        -webkit-animation: quizLine 12s linear infinite;
        animation: quizLine 12s linear infinite;
    }

}

.quiz-step {
    margin-bottom: 0.75em;
    text-align: center;

    @media (min-width: 768px) {
        margin-bottom: 1.75em;
    }

    span {
        text-transform: uppercase;
        color: #282728;
        font-weight: 700;
        font-size: 0.75em;
        @media (min-width: 768px) {
            font-size: 1.25em;

        }
    }
}

.quiz-question {
    display: none;
    position: relative;
    z-index: 1;

    &.active {
        display: block;
    }

    &__photo {
        // border: 1px solid green;
    }

    &__text {
        // border: 1px solid violet;

    }

    &__file {
        // border: 1px solid yellow;
    }

    &__bg {
        position: absolute;
        top: 8.5em;
        right: 0;
        width: 24em;
        height: 25.875em;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__title {
        text-align: center;
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 3.5em;

        }

        span {
            font-size: 1.25em;
            color: #282728;
            @media (min-width: 768px) {
                font-size: 2.25em;

            }
        }
    }

    &__wrap {
        &_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 4.375em;
            /* 70/16 */
            grid-column-gap: 0.5em;
            grid-row-gap: 2.5em;

            // display: flex;
            // flex-wrap: wrap;
            //
            // > * {
            //     margin: 0 0.25em 2em;
            //     width: calc(50% - 0.5em);
            // }

            @media (min-width: 768px) {
                width: 46.125em;
                margin: 0 auto;
                grid-auto-rows: 14.0625em;
                grid-column-gap: 2.375em;
                grid-row-gap: 4.625em;
                //
                // > * {
                //     margin: 0 1.1875em 3.75em;
                //     width: calc(50% - 2.375em);
                // }
            }

        }

    }

    &__photo-block {
        position: relative;
        // border: 1px solid #000;
        // margin-bottom: 3em;
        // @media (min-width: 768px) {
        //     margin-bottom: 0;
        // }

        p {
            position: absolute;
            bottom: -2.25em;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            color: #282828;
            margin-bottom: 0;
            // margin-top: 1em;
            font-size: 0.75em;
            @media (min-width: 768px) {
                bottom: -3em;
                // margin-top: 2em;
                font-size: 1em;

            }
        }

    }

    &__photo-label {
        position: relative;
        flex-direction: column;

        background: #FCFBFB;
        border: 1px solid #E3E3E3;
        border-radius: 1.25em;

        // width: 15.25em;
        // height: 9.375em;

        // width: 6.25em;
        // height: 3.75em;

        // width: 7.0625em;
        // height: 4.375em;

        @media (min-width: 768px) {
            width: 100%;
            height: 100%;
            // height: 14.0625em;
            /* 225/16 */

        }
    }

    &__photo-img {
        border-radius: 1.25em;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__check {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.25em;
        height: 2.25em;
        background: #FFFFFF;
        border: 0.25em solid #FFFFFF;
        transition: 0.3s;
        color: #E6EBEE;
        font-size: 0.5em;
        @media (min-width: 768px) {
            font-size: 1em;

        }

        i {
            font-size: 0.5em;
            transition: 0.3s;
        }
    }

    &__photo-check {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 45%);
    }

    &__text-block {
        @media (min-width: 768px) {
            width: 37.5em;

            &.width_sm {
                width: 29.375em;
            }

            &.center {
                margin: 0 auto;
            }
        }

    }

    &__text-label {
        display: flex;
        align-items: center;
        border-radius: 31.25em;
        font-size: 0.75em;
        padding: 1em 1.5em 1em 1em;
        margin-bottom: 1em;

        @media (min-width: 768px) {
            padding: 1.25em 4em 1.25em 1em;
            margin-bottom: 1.375em;
            font-size: 1em;

        }

        background-color: $color_white;

        p {
            margin: 0;
        }

    }

    &__text-check {
        margin-right: 0.75em;
        background-color: #F9FAFD;
        color: #C6C6C6;
        font-size: 1.125em;
        @media (min-width: 768px) {
            font-size: 1em;
        }
    }

    &-hint {
        position: absolute;
        top: 0;
        right: 0.5em;
        @media (min-width: 768px) {
            top: 0.5em;
            right: 1.25em;

        }

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 2em;
            background-color: $color_warning;
            color: $color_white;
            border: 0.2em solid $color_white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            margin-top: 0.5em;
            font-size: 0.75em;

        }

        p {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transform: translate(-50%,-100%);
            padding: 1em;
            margin: 0;

            background-color: $color_white;
            white-space: normal;
            border-radius: 1em;
            text-align: center;
            box-shadow: 0 0 10rem rgb(0 0 0 / 10%);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            font-size: 0.6em;
            width: 12em;
            @media (min-width: 768px) {
                width: 10em;
                font-size: 0.75em;

            }

        }

        &:hover {
            p {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-video {
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        background: rgba($color_warning, 1) url("../img/information_bg_play.png") center no-repeat;
        background-size: cover;

        width: 3.125em;
        height: 3.125em;
        font-size: 0.5em;

        top: 0.75em;
        right: 1em;
        @media (min-width: 768px) {
            top: 1.5em;
            right: 2em;
            font-size: 1em;

        }

        @media (min-width: 768px) {
            transform: scale(1);
            transition: transform 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }

        i {
            color: $color_white;
            font-size: 0.75em;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%),scale(1);
            border: 0.25em solid $color_warning;

        }

        &:before {
            opacity: 0.35;
            animation: 1s pulsePlay1 infinite;

            width: 3.5em;
            height: 3.5em;

        }

        &:after {
            opacity: 0.1;
            animation: 1s pulsePlay2 infinite;
            width: 4em;
            height: 4em;

        }
    }

}

.send-form__file {
    justify-content: space-between;
    align-items: center;
    width: 26.375em;
    height: 4.6875em;
    padding-left: 2.25em;
    border-radius: 4.375em;
    background-color: $color_white;
    margin-bottom: 1.5em;
    font-size: 0.55em;

    @media (min-width: 768px) {
        font-size: 1em;
    }

    p {
        margin: 0;
        font-size: 0.875em;
    }

    &-btn {
        display: flex;
        justify-content: center;
        justify-content: center;
        align-items: center;
        width: 11.25em;
        height: 100%;
        background-color: $color_warning;
        border-radius: 4.375em;

        span {
            font-size: 1.125em;
            color: $color_white;
        }
    }
}

.quiz-question__slider-input {
    label {
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 0.875em;
    }

    .input-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.25em;
        height: 1.25em;
        border-radius: 0.25em;
        background-color: $color_white;
        margin-right: 0.5em;
        font-size: 0.75em;
        @media (min-width: 768px) {
            font-size: 1em;
        }

        i {
            font-size: 0.5em;
            color: $color_white;
        }
    }

}

.quiz-question__slider-input input:checked~.input-check {
    background-color: $color_warning;
}

.quiz-arrow {
    display: flex;
    justify-content: center;

    padding: 1.907em 1em;
    max-width: 100%;
    width: 13em;

    border-radius: 31.25em;
    font-family: $main_font_family;
    font-weight: 500;
    text-align: center;

    border: none;
    outline: none;
    text-decoration: none;

    cursor: pointer;
    letter-spacing: 0.02em;
    transition: 0.3s;

    font-size: 0.55em;
    @media (min-width: 768px) {
        font-size: 1em;

    }

    &:last-child {
        margin-left: 1.125em;
    }

    p {
        margin: 0;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__prev {
        background-color: $color_white;
        color: #BBBABA;
        display: none;

    }

    &__next {
        background-color: $color_warning;
        color: $color_white;

        &:hover {
            background-color: darken($color_warning, 5%);
        }

        &:active {
            background-color: $color_warning;
        }

        &:disabled {
            cursor: not-allowed;
            background-color: rgba($color_warning, 0.9);
        }

    }

}

.quiz-employee {
    position: absolute;
    top: 23em;
    left: -4.25em;
    width: 8.25em;

    &__info {
        letter-spacing: 0.02em;
        text-align: right;
    }

    &__name {
        margin-bottom: 0.5em;
        line-height: 1.3;

        span {
            font-size: 1.25em;
            font-weight: 500;
            color: $color_black;
        }
    }

    &__job {
        line-height: 1.1;

        span {
            color: #6A6A6A;
            font-size: 0.875em;
            font-weight: 300;
        }
    }

    &__bg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        bottom: -4.375em;
        right: -2.5em;

        width: 31.25em;
        height: 46.875em;
    }

}

.quiz-gift {
    &__title {
        margin-bottom: 1.5em;

        span {
            font-size: 2.25em;
            font-weight: 700;
            color: #282728;

        }
    }

    &__text {
        line-height: 1.35;

        span {
            font-size: 1.25em;
            color: $color_black;
        }
    }
}

.quiz-info {
    position: relative;
    z-index: 1;
    background-color: rgba(18, 95, 115, 0.9);
    border-radius: 1.5625em;
    padding: 2.25em;
    line-height: 1.55;

    span {
        font-size: 1.0625em;
        font-weight: 500;
        color: $color_white;
    }
}

.quiz-result {
    display: none;
    position: relative;
    background-image: url("../img/quiz/quiz-result_bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 1em;

    @media (min-width: 768px) {
        padding: 6.25em 12.5em;
    }

    &__wrap {
        @media (min-width: 768px) {
            width: 35em;
        }
    }

    &__title {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 2.625em;

        }
    }

    &__text {
        text-align: center;
        line-height: 1;
        @media (min-width: 768px) {
            line-height: 1.4;

        }

        span {
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 1.375em;

            }
        }
    }

    &__messenger {
        margin-left: auto;
        margin-right: auto;

        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2.125em;
            width: 25em;

        }

        .input-check {
            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.25em;
            height: 1.25em;
            border-radius: 0.25em;
            background-color: $color_info;
            // margin-right: 0.25em;
            font-size: 0.75em;
            @media (min-width: 768px) {
                margin-right: 0.5em;
                font-size: 1em;
            }

            i {
                font-size: 0.5em;
                color: $color_info;
            }
        }
    }

    &__phone {

        background-image: url("../img/quiz/quiz-result_mob.webp");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;
        bottom: -1em;
        right: 1em;
        width: 17.25em;
        height: 20.5em;

        @media (min-width: 768px) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 43.4375em;
            height: 51.6875em;

        }
    }

}

.quiz-result__messenger input:checked~.input-check i {
    color: $color_white;
}

@-webkit-keyframes quizLine {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: 23.5rem center;
    }
}

@keyframes quizLine {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: 23.5rem center;
    }
}
