header.header
    .header__content

        // start header__top
        .header__top
            .header__logo
                a.logo(href="/")
                    img(src="/img/logo.png")
                .logo__info.desktop
                    span <b>Патентный центр.</b> Работаем по всему Казахстану с 2015 года

            .header__language.desktop
                .language
                    .language__title
                        span выбор языка
                    .language__switch
                        label.switch
                            input(type="checkbox" id="checkbox" name="languageCheckbox")
                            span

            .header__action
                .header__phone
                    .phone
                        .phone__time
                            span Звоните, Пн-ВС 10:00 - 21:00
                        .phone__link
                            a(href="tel:+77712101111") +7 (771) 210-11-11
                        .phone__action.dotted
                            a(href="#").call_modal_js Перезвоним за 30 сек

                .header__mail.desktop
                    a(href="mailto:info@eurasianbrands.com") info@eurasianbrands.com

                .header__social
                    .social
                        .social__label.desktop
                            span Время ответа всего <b>15 секунд</b>
                        .social__button
                            a(href="https://wa.me/+77712101111" target="_blank")
                                i.icon-whatsapp
                                span.desktop Написать в WhatsApp


        // end header__top

        // start header__bottom
        .header__bottom
            .logo__info.mobile
                span <b>Патентный центр.</b> Работаем по всему Казахстану с 2015 года
            .header__mail.mobile
                a(href="mailto:info@eurasianbrands.com") info@eurasianbrands.com

            nav.navbar#navbar
                ul.menu
                    li.menu-item.current-menu-item
                        a(href="#") Главная
                    li.menu-item.menu-item-has-children
                        a(href="#") услуги
                            i.icon-drop
                        ul.sub-menu

                            li.menu-item.menu-item-has-children
                                a() Товарные знаки
                                    i.icon-drop
                                ul.sub-menu
                                    li.menu-item
                                        a(href="#") Регистрация товарного знака
                                    li.menu-item
                                        a(href="#") Продление срока регистрации
                                    li.menu-item
                                        a(href="#") Проверка на уникальность
                                    li.menu-item
                                        a(href="#") Международная регистрация по Мадридской системе и за рубежом
                                    li.menu-item
                                        a(href="#") Регистрация общеизвестного товарного знака
                                    li.menu-item
                                        a(href="#") Регистрация наименования места происхождения товара
                                    li.menu-item
                                        a(href="#") Ответ на уведомление или отказ в регистрации

                            li.menu-item
                                a() Авторские права
                            li.menu-item
                                a() Патенты
                            li.menu-item
                                a() Логотипы
                            li.menu-item
                                a() Внесенив таможенный реестр
                            li.menu-item
                                a() Блокировка
                            li.menu-item
                                a() Суды и споры
                            li.menu-item.menu-item-has-children
                                a() Битрикс24
                                    i.icon-drop
                                ul.sub-menu
                                    li.menu-item
                                        a(href="#") Регистрация общеизвестного товарного знака
                                    li.menu-item
                                        a(href="#") Регистрация наименования места происхождения товара
                                    li.menu-item
                                        a(href="#") Ответ на уведомление или отказ в регистрации 
                            li.menu-item.important
                                a() Правовые консультации
                            li.menu-item
                                a() Депозитарий авторских прав                                

                    li.menu-item
                        a(href="#") рассрочка и оплата
                    li.menu-item.info
                        a(href="#") кейсы
                            span +3
                    li.menu-item
                        a(href="#") блог
                    li.menu-item
                        a(href="#") о компании
                    li.menu-item
                        a(href="#") Контакты


        // end header__bottom








        .header__toggle
