



// Begin Modal stop
.modal.fade.stop#stop
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal" id="closeModalStop")
            .modal-header
                .section__title
                    span СТОЙТЕ! <b>НЕ УХОДИТЕ!</b>
                .modal-label
                    span Скачайте инструкцию от экспертов Eurasian Brands
                .modal-title
                    span <b>Как зарегистрировать товарный знак с первого раза:</b> 10 причин отказа  Казпатента и как их избежать
            .modal-body
                .modal-form
                    form.form
                        .form__label
                            span Куда прислать презентацию?
                        .form__row
                            select.select(data-placeholder="Whatsapp")
                                option(value="")
                                option(value="whatsapp") Whatsapp
                                option(value="Viber") Viber
                                option(value="Telegram") Telegram

                        .form__row
                            input(type="tel" class="tel" required placeholder="Введите ваш номер")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit") Получить презентацию с ценами на услуги



                        .form__row
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>

// End modal stop

// Begin Modal map
.modal.fade.map#map
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body
                .map__content
                    iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A517f80209eff5be70d54d90135057484989abca4bf803d75b37acf02aee4b0d4&amp;source=constructor" width="100%" height="100%" frameborder="0")



// End modal map



// Begin Modal call
.modal.fade.call#call
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title 
                    span Оставьте номер<br> <b>позвоним за 15 сек</b>
            .modal-body
                .modal-form
                    form.form
                        .form__row
                            input(type="tel" class="tel" required placeholder="Введите ваш номер")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit") Жду звонка
                        .form__row
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>
// End modal call




// Begin Modal sentence
.modal.fade.sentence#sentence
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-header
                .modal-title
                    span Подготовим <b>прайс<br> и коммерческое<br> предложение</b> для вас
            .modal-body
                .modal-form
                    form.form
                        .form__row
                            input(type="tel" class="tel" required placeholder="Введите ваш номер")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit") Жду звонка
                        .form__row
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>

            .sentence__more.desktop
                .sentence__name
                    span Айя Ибрагимовна
                .sentence__desc
                    span эксперт по товарным знакам

// End modal sentence

// Begin Modal modalVideo
.modal.fade.modalVideo#modalVideo
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body 
                .modalVideo__wraper
// End modal modalVideo
