@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w30syp');
  src:  url('fonts/icomoon.eot?w30syp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w30syp') format('truetype'),
    url('fonts/icomoon.woff?w30syp') format('woff'),
    url('fonts/icomoon.svg?w30syp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop:before {
  content: "\e904";
}
.icon-drop_right:before {
  content: "\e920";
}
.icon-arrow_left:before {
  content: "\e906";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-arrow_light_right:before {
  content: "\e919";
}
.icon-arrow_light_left:before {
  content: "\e911";
}
.icon-arrow_long_left:before {
  content: "\e905";
}
.icon-arrow_long_right:before {
  content: "\e916";
}
.icon-arrow_deg:before {
  content: "\e91e";
}
.icon-close:before {
  content: "\e900";
}
.icon-loupe:before {
  content: "\e901";
}
.icon-loading:before {
  content: "\e902";
}
.icon-it:before {
  content: "\e907";
}
.icon-by_time:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-map:before {
  content: "\e90a";
}
.icon-uniE90B:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-time:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e912";
}
.icon-defense:before {
  content: "\e913";
}
.icon-percent:before {
  content: "\e914";
}
.icon-timer:before {
  content: "\e915";
}
.icon-production:before {
  content: "\e917";
}
.icon-sector:before {
  content: "\e918";
}
.icon-list:before {
  content: "\e91a";
}
.icon-pdf:before {
  content: "\e91b";
}
.icon-quote:before {
  content: "\e91c";
}
.icon-check_mark:before {
  content: "\e91d";
}
.icon-play:before {
  content: "\e91f";
}
