@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?657p8p');
  src:  url('fonts/icomoon.eot?657p8p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?657p8p') format('truetype'),
    url('fonts/icomoon.woff?657p8p') format('woff'),
    url('fonts/icomoon.svg?657p8p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e926";
}
.icon-calc:before {
  content: "\e925";
}
.icon-drop:before {
  content: "\e904";
}
.icon-drop_top:before {
  content: "\e924";
}
.icon-drop_right:before {
  content: "\e920";
}
.icon-drop_left:before {
  content: "\e922";
}
.icon-arrow_left:before {
  content: "\e906";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-arrow_light_right:before {
  content: "\e919";
}
.icon-arrow_light_left:before {
  content: "\e911";
}
.icon-arrow_long_left:before {
  content: "\e905";
}
.icon-arrow_long_right:before {
  content: "\e916";
}
.icon-arrow_deg:before {
  content: "\e91e";
}
.icon-loupe:before {
  content: "\e901";
}
.icon-loading:before {
  content: "\e902";
}
.icon-it:before {
  content: "\e907";
}
.icon-by_time:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e909";
}
.icon-viber:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\e923";
}
.icon-map:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-time:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e912";
}
.icon-defense:before {
  content: "\e913";
}
.icon-percent:before {
  content: "\e914";
}
.icon-timer:before {
  content: "\e915";
}
.icon-production:before {
  content: "\e917";
}
.icon-sector:before {
  content: "\e918";
}
.icon-list:before {
  content: "\e91a";
}
.icon-pdf:before {
  content: "\e91b";
}
.icon-quote:before {
  content: "\e91c";
}
.icon-quote_2:before {
  content: "\e921";
}
.icon-check_mark:before {
  content: "\e91d";
}
.icon-play:before {
  content: "\e91f";
}
