@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vmtrun');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vmtrun#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?vmtrun') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?vmtrun') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?vmtrun##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop {
  &:before {
    content: $icon-drop; 
  }
}
.icon-drop_top {
  &:before {
    content: $icon-drop_top; 
  }
}
.icon-drop_right {
  &:before {
    content: $icon-drop_right; 
  }
}
.icon-drop_left {
  &:before {
    content: $icon-drop_left; 
  }
}
.icon-arrow_left {
  &:before {
    content: $icon-arrow_left; 
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right; 
  }
}
.icon-arrow_light_right {
  &:before {
    content: $icon-arrow_light_right; 
  }
}
.icon-arrow_light_left {
  &:before {
    content: $icon-arrow_light_left; 
  }
}
.icon-arrow_long_left {
  &:before {
    content: $icon-arrow_long_left; 
  }
}
.icon-arrow_long_right {
  &:before {
    content: $icon-arrow_long_right; 
  }
}
.icon-arrow_deg {
  &:before {
    content: $icon-arrow_deg; 
  }
}
.icon-loupe {
  &:before {
    content: $icon-loupe; 
  }
}
.icon-loading {
  &:before {
    content: $icon-loading; 
  }
}
.icon-it {
  &:before {
    content: $icon-it; 
  }
}
.icon-by_time {
  &:before {
    content: $icon-by_time; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-viber {
  &:before {
    content: $icon-viber; 
  }
}
.icon-telegram {
  &:before {
    content: $icon-telegram; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-defense {
  &:before {
    content: $icon-defense; 
  }
}
.icon-percent {
  &:before {
    content: $icon-percent; 
  }
}
.icon-timer {
  &:before {
    content: $icon-timer; 
  }
}
.icon-production {
  &:before {
    content: $icon-production; 
  }
}
.icon-sector {
  &:before {
    content: $icon-sector; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-pdf {
  &:before {
    content: $icon-pdf; 
  }
}
.icon-quote {
  &:before {
    content: $icon-quote; 
  }
}
.icon-quote_2 {
  &:before {
    content: $icon-quote_2; 
  }
}
.icon-check_mark {
  &:before {
    content: $icon-check_mark; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}

