$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-drop: "\e904";
$icon-drop_right: "\e920";
$icon-arrow_left: "\e906";
$icon-arrow_right: "\e903";
$icon-arrow_light_right: "\e919";
$icon-arrow_light_left: "\e911";
$icon-arrow_long_left: "\e905";
$icon-arrow_long_right: "\e916";
$icon-arrow_deg: "\e91e";
$icon-close: "\e900";
$icon-loupe: "\e901";
$icon-loading: "\e902";
$icon-it: "\e907";
$icon-by_time: "\e908";
$icon-whatsapp: "\e909";
$icon-map: "\e90a";
$icon-uniE90B: "\e90b";
$icon-download: "\e90c";
$icon-calendar: "\e90d";
$icon-time: "\e90e";
$icon-instagram: "\e90f";
$icon-youtube: "\e910";
$icon-phone: "\e912";
$icon-defense: "\e913";
$icon-percent: "\e914";
$icon-timer: "\e915";
$icon-production: "\e917";
$icon-sector: "\e918";
$icon-list: "\e91a";
$icon-pdf: "\e91b";
$icon-quote: "\e91c";
$icon-check_mark: "\e91d";
$icon-play: "\e91f";

