extends layout/layout.pug

block content
    // begin mainNaw
    //- section#mainNaw.mainNaw.section
        .container_center
            h2.section__title 
            ul
                li
                    a(href="home") главная

    // end mainNaw
