extends layout/layout.pug

block content
    // begin mainNaw
    section#mainNaw.mainNaw.section
        .container_center
            h2.section__title 
                span Страницы
            ul
                li
                    a(href="home") главная

    // end mainNaw

    // begin secondNaw
    section#secondNaw.secondNaw.section
        .container_center
            h2.section__title 
                span Части
            ul
                li
                    a(href="buttons") кнопки
                li
                    a(href="modals") модальные окна

    // end secondNaw
