extends layout/layout.pug

block content
    // begin mainNaw
    section#mainNaw.mainNaw.section
        .container_center
            h2.section__title 
                span Страницы
            ul
                li
                    a(href="home") главная
                li
                    a(href="services") услуги
                li
                    a(href="payment") рассрочка и оплата (не готов блок оплат)
                li
                    a(href="single-service") одна услуга
                li
                    a(href="single-service2") одна услуга 2
                li
                    a(href="сases") кейсы
                li
                    a(href="single-сases") один кейс
                li
                    a(href="single-сases2") один кейс 2
                li
                    a(href="about") о компании
                li
                    a(href="сontacts") контакты
                li
                    a(href="blog") блог
                li
                    a(href="single-blog") один блог
                li
                    a(href="404") 404
                li
                    a(href="success") успех


    // end mainNaw

    // begin secondNaw
    section#secondNaw.secondNaw.section
        .container_center
            h2.section__title 
                span Части
            ul
                li
                    a(href="buttons") кнопки
                li
                    a(href="modals") модальные окна
                li
                    a(href="quiz") квиз

    // end secondNaw
