extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная
                span.kb_sep 
                    i.icon-arrow_right
                span.kb_title Рассрочка и оплата
    // end breadcrumbs

    // begin payment
    section#payment.payment.section
        .container_center
            .payment__top
                .payment__caption
                    h2.section__title
                        span Работаем по 100% предоплате или <b>воспользуйтесь беспроцентной рассрочкой</b>
                    .section__subtitle.section__subtitle_sm
                        span <b>Это выгодно:</b> каждый второй клиент оплачивает наши услуги в рассрочку

                ul.payment__desc
                    each item in ['Для любых услуг', 'До 12 месяцев', 'Без первого взноса' ]
                        li
                            span=item
            .payment__bottom
                .swiper__label.mobile
                    span Листайте видео влево/вправо для просмотра всех 
                    .swiper__img
                        img(src="../img/hand.svg")

                .swiper.payment-swiper-js
                    .payment__list.swiper-wrapper.counter-wrap
                        each item in [1,1]

                            .payment__item.swiper-slide.counter-item
                                .payment__head
                                    .payment__label
                                        span От банков

                                    ul.payment__logos
                                        li
                                            .payment__img
                                                img(src="../img/payment_1.png")
                                        li
                                            .payment__img
                                                img(src="../img/payment_2.png")

                                .payment__terms
                                    .payment__label
                                        span Условия

                                    ul
                                        each item in ['Срок: до 12 мес.', 'Без поручителей, справок и первого взноса', 'Процент одобрения: 50-60%']
                                            li
                                                span=item
                                .payment__count
                                    span.counter-el

                    .payment__dotted

    // end payment

    // begin consultation
    section#consultation.consultation.section
        .container_center
            .consultation__wrap
                .consultation__content
                    h2.section__title.desktop(data-aos="fade-up")
                        span Давайте мы вас <b>проконсультируем</b>
                    h2.section__title.mobile
                        span Давайте <b>проконсультируем</b>
                    .section__subtitle
                        span и предложим варианты<br> решения вашего вопроса
                    .consultation__list(data-aos="fade-right")
                        each item in ['<b>Проанализируем</b> документы', '<b>Дадим рекомендации</b> по дальнейшим действиям;', '<b>Назовем</b> точную стоимость;', '<b>Рассчитаем</b> платежи, если нужна рассрочка;']
                            .consultation__item
                                span!=item

                    .consultation__phone
                        .phone
                            .phone__time
                                span Звоните, Пн-ВС 10:00 - 21:00
                            .phone__link
                                a(href="tel:+77712101111") +7 (771) 210-11-11
                    .consultation__action
                        span Спрашивайте, мы онлайн, время ответа 15 сек
                        a(href="https://wa.me/+77712101111" target="_blank").btn.btn_whatsapp_sm.btn_success Написать в WhatsApp
                            span.mobile время ответа 15 секунд

                .consultation__form
                    form.form
                        .form__title
                            span <b>После отправки<br> формы</b> мы перезвоним<br> через 30 секундн

                        .form__row
                            textarea(type="text", placeholder="Опишите вашу задачу в общих чертах. Это не обязательно, но позволит нам быстрее сориентироваться и направить вашу заявку профильному специалисту.")

                        .form__row
                            input(type="tel" class="tel" required placeholder="Введите ваш номер")

                        .form__row
                            button.btn.btn_didisabled_js(type="submit") Получить консультацию



                        .form__row
                            .form__privacy
                                label.form__check
                                    input.check_checked_js(type="checkbox" checked="checked")
                                    span Нажимая кнопку вы соглашаетесь  с условиями <a href="#" target="_blank" class="privacy_js">Политики конфиденциальности</a>


                .consultation__lider.desktop
                    .lider__icon
                        i.icon-arrow_deg
                    .lider__name
                        span Клёнова Айя Ибрагимовна
                    .lider__info
                        span Юрист, патентовед, эксперт по товарным знакам


    // end consultation
