extends ../layout/layout.pug
block variable
    -var path = '../';


block content

    // begin quiz
    section#quiz.quiz.section
        .container_center
            h1.section__title
                span Калькулятор стоимости услуг
            .section__subtitle
                span патентного центра Eurasian Brands

            form.quiz-form(action='#')

                // start quiz-container
                #quiz.quiz-container
                    // start quiz-main
                    .quiz-main
                        .quiz-wrap
                            .quiz-step
                                span.quiz-step__label ШАГ 
                                span.quiz-step__current 1

                            .quiz-line
                                .quiz-line__bg(style='width: 5%;')
                                //- p.quiz-line__text
                                //-     span.quiz-line__bold
                                //-         | Расчет готов на: 
                                //-         span.quiz-line__current 10%

                            // start quiz-question
                            .quiz-question.quiz-question__photo.active(data-q='')

                                .quiz-question__title 
                                    span Выберите вид товарного знака

                                .quiz-question__wrap.quiz-question__wrap_grid

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_1.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Словесный
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_2.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Изобразительный

                                        .quiz-question-video.js-youtubeModal#httuerixph8
                                            i.icon-play

                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_3.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Звуковой

                                        .quiz-question-hint
                                            i.icon-info
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='radio' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_4.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Комбинированный
                                    // end quiz-question__photo-block

                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__photo(data-q='')

                                .quiz-question__title 
                                    span Выберите вид товарного знака

                                .quiz-question__wrap.quiz-question__wrap_grid

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_1.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Словесный
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_2.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Изобразительный

                                        .quiz-question-video.js-youtubeModal#httuerixph8
                                            i.icon-play

                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_3.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Звуковой

                                        .quiz-question-hint
                                            i.icon-info
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                    // end quiz-question__photo-block

                                    // start quiz-question__photo-block
                                    .quiz-question__photo-block
                                        label.quiz-question__photo-label
                                            input(type='checkbox' name='q-1')
                                            img.quiz-question__photo-img(loading='lazy' src='../img/quiz/question/photo_4.png' alt='')
                                            .quiz-question__check.quiz-question__photo-check
                                                i.icon-check_mark
                                            p.quiz-question__photo-text Комбинированный
                                    // end quiz-question__photo-block

                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__text(data-q='')

                                .quiz-question__title 
                                    span Выберите вид товарного знака

                                .quiz-question__wrap

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm.center
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Словесный
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm.center
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Изобразительный
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm.center
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Звуковой
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm.center
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Комбинированный
                                    // end quiz-question__text-block


                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__text(data-q='')

                                .quiz-question__title 
                                    span Какие услуги нужны дополнительно?

                                .quiz-question__wrap

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.center
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Международная регистрация по Мадридской системе Поясняющий текст в 1 или 2 строки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.center
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Международная регистрация по Мадридской системе Поясняющий текст в 1 или 2 строки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.center
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Международная регистрация по Мадридской системе Поясняющий текст в 1 или 2 строки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.center
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Ничего не нужно
                                    // end quiz-question__text-block


                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__file(data-q='')
                                .quiz-question__file-wrap
                                    .quiz-question__bg.desktop(style="background-image: url('../img/quiz/quiz_calendar.webp')")
                                    .quiz-question__title.quiz-question__file-title
                                        span Прикрепите изображение знака
                                    label(data-text="Файл не выбран").send-form__file
                                        input(type='file' required='required')
                                        p Файл не выбран
                                        .send-form__file-btn
                                            span Добавить
                                    .quiz-question__slider-input
                                        label
                                            input(type='checkbox' required='' name='')
                                            .input-check
                                                i.icon-check_mark
                                            p Нет изображения
                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__text(data-q='')

                                .quiz-question__bg.desktop(style="background-image: url('../img/quiz/quiz_calendar.webp')")

                                .quiz-question__title 
                                    span Какие услуги нужны дополнительно?

                                .quiz-question__wrap

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Международная регистрация по Мадридской системе Поясняющий текст в 1 или 2 строки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Международная регистрация по Мадридской системе Поясняющий текст в 1 или 2 строки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Международная регистрация по Мадридской системе Поясняющий текст в 1 или 2 строки
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block
                                        label.quiz-question__text-label
                                            input(type='checkbox' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Ничего не нужно
                                    // end quiz-question__text-block


                            // end quiz-question

                            // start quiz-question
                            .quiz-question.quiz-question__text(data-q='')
                                .quiz-question__bg.desktop(style="background-image: url('../img/quiz/quiz_calendar.webp')")

                                .quiz-question__title 
                                    span Выберите вид товарного знака

                                .quiz-question__wrap

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Словесный
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Изобразительный
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Звуковой
                                    // end quiz-question__text-block

                                    // start quiz-question__text-block
                                    .quiz-question__text-block.width_sm
                                        label.quiz-question__text-label
                                            input(type='radio' name='q-1')
                                            .quiz-question__check.quiz-question__text-check
                                                i.icon-check_mark
                                            p Комбинированный
                                    // end quiz-question__text-block


                            // end quiz-question


                        .quiz-footer
                            .quiz-footer__hint
                                .quiz-footer__img
                                    img(loading='lazy' src='../img/quiz/hand.svg' alt='')
                                span <b>Выберите вариант ответа</b> и нажмите кнопку “Далее”

                            .quiz-arrow__wrap
                                button.quiz-arrow.quiz-arrow__prev
                                    p Назад
                                button.quiz-arrow.quiz-arrow__next(disabled='')
                                    p Далее

                    // end quiz-main



                    // start quiz-right
                    .quiz-right.desktop
                        .quiz-gift
                            .quiz-gift__title 
                                span В конце теста<br> получите:
                            .quiz-gift__text
                                span <b>консультацию</b> и бесплатную<br> проверку на уникальность

                        .quiz-employee                            
                            .quiz-employee__info
                                .quiz-employee__name
                                    span Айя Ибрагимовна
                                .quiz-employee__job
                                    span эксперт по товарным знакам
                        .quiz-info
                            span Обсудим шансы на регистрацию вашего<br> товарного знака, проведу бесплатную<br> проверку на тождество, отвечу на<br> вопросы, подготовлю КП.
                        .quiz-employee__bg(style="background-image: url('../img/quiz/quiz_person.webp')")


                    // end quiz-right

                // end quiz-container

                // start quiz-result
                .quiz-result
                    .quiz-result__wrap
                        .quiz-result__title.section__title
                            span <b>Отлично!</b> Остался последний шаг!

                        .quiz-result__text
                            span Выберите удобный мессенджер, куда прислать прайс на услуги + за вашим номером зафиксируем подарок

                        .quiz-result__messenger
                            .form
                                .form__label
                                    span Куда прислать?
                                .form__row
                                    select.select(data-placeholder="Whatsapp")
                                        option(value="")
                                        option(value="whatsapp") Whatsapp
                                        option(value="Viber") Viber
                                        option(value="Telegram") Telegram

                                .form__row
                                    input(type="tel" class="tel" required placeholder="Введите ваш номер")

                                .form__row
                                    //- button.btn.btn_didisabled_js(type="submit") Получить презентацию с ценами на услуги
                                    button.btn.btn_didisabled_js.quiz-result__btn Получить расчет стоимости
                                .form__row
                                    .form__privacy
                                        label.form__check

                                            //- input(type='checkbox' required='' name='')
                                            input.check_checked_js(type="checkbox" checked="checked")
                                            .input-check
                                                i.icon-check_mark

                                            //- input.check_checked_js(type="checkbox" checked="checked")
                                            span Вы соглашаетесь с <a href="#" target="_blank" class="privacy_js">с условиями обработки персональных данных</a>

                        .quiz-result__phone

                // end quiz-container


    // end quiz
