.tabServices {
    padding-top: 1em;
    @media (min-width: 768px) {
        padding-top: 0;

    }

    &__grid {

        @media (min-width: 768px) {
            display: grid;
            grid-gap: 1.875em;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(9.375em, auto);

        }
    }

    &__item {
        background-color: #F9FAFD;
        border-radius: 0.125em;
        padding: 0.75em;
        margin-bottom: 1em;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            text-align: inherit;
            margin-bottom: 0;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            padding: 2.5em;

        }

    }

    &__top {
        margin-bottom: 0.25em;
        @media (min-width: 768px) {
            margin-bottom: 1em;

        }
    }

    &__title {
        line-height: 0.9;
        @media (min-width: 768px) {
            line-height: $main_line_height;
        }

        span {
            font-size: 0.75em;
            font-weight: 700;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }
        }
    }

    &__bottom {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }

    &__img {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: 3em;
        max-width: 12.5em;
        /* 200/16 */

        @media (max-width: 767px) {
            width: 6em;
            margin: 0 auto;
        }

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;

        }
    }

    &__content {
        color: $color_black;

        @media (min-width: 768px) {
            width: 21em;

        }
    }

    &__row {
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-start;
        }
    }

    &__label {
        font-weight: 700;
        margin-right: 0.25em;

        span {
            font-size: 0.5em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__desc {
        span {
            font-size: 0.5em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__link {
        a {
            text-decoration: none;
            color: $color_info;
            font-size: 0.6em;
            @media (min-width: 768px) {
                font-size: 1em;

            }

            &:after {
                content: '\e903';
                font-family: 'icomoon';
                font-size: 0.5em;
                margin-left: 1em;
            }
        }
    }

}
