extends ../layout/layout.pug
block variable
    -var path = '../';


block content
    // begin testbottons
    section#testbottons.testbottons.section
        .container_center
            .testbottons__content
                a(href="#").btn Смотреть всех клиентов и кейсы

                br
                br
                a(href="#").btn.btn_whatsapp.btn_success Спросить у нас в WhatsApp
                    span время ответа 15 секунд

                br
                br

                a(href="#").btn Изучить все кейсы


                br
                br
                a(href="#").btn.btn_warning.btn_md Изучить кейс


                br
                br
                a(href="#").btn.btn_success.btn_whatsapp_sm Написать в WhatsApp

                br
                br
                a(href="#").btn Спросить у нас в WhatsApp
                    span + время ответа 15 секунд

    // end testbottons
